/* Responsive Variables */
div.navbar div.container {
  margin: 0px;
}
body {
  background: transparent;
}
.Center {
  text-align: center;
}
.Left {
  text-align: left;
}
/* navbar styles */
div.navbar {
  border-radius: 5px;
}
.navbar-inverse .navbar-brand {
  color: #fff;
  background-color: transparent;
}
/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/
@media (max-width: 767px) {
  body {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
  }
  div.navbar-fixed-top {
    margin-bottom: 0px;
  }
  div.navbar-wrapper {
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  .navbar-wrapper {
    margin-top: 20px;
  }
}
/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
div.carousel {
  margin-top: -90px;
}
body {
  background: url({{ site.baseurl }}/img/home_bg.jpg) no-repeat center center fixed;
  max-width: 100%;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}
div#title {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}
div.row {
  margin-right: inherit;
  margin-left: inherit;
}
div#callouts {
  color: white;
  position: relative;
  z-index: 1000000000;
}
/* Phones */
@media (max-width: 767px) {
  h1 {
    font-size: 3em;
  }
  div#callouts {
    padding: 40px;
  }
}
/* Tablet-portrait */
@media (min-width: 768px) and (max-width: 991px) {
  h1 {
    font-size: 4em;
  }
  div#callouts {
    padding: 60px;
  }
}
/* Tablet-landscape */
@media (min-width: 992px) and (max-width: 1199px) {
  h1 {
    font-size: 5em;
  }
  div#callouts {
    padding: 80px;
  }
}
/* Desktop */
@media (min-width: 1200px) {
  h1 {
    font-size: 6em;
  }
  div#callouts {
    padding: 100px;
  }
}
