---
title: Nick Volgas | Home
---

<section id="intro" style="background-image: url('images/home_bg.jpg');" class="intro">
    <div class="overlay"></div>
    <div class="content">
        <div class="container clearfix">
        <div class="row">
            <div class="col-lg-8 col-md-12 mx-auto">
            <h1>Iron Paws, LLC</h1>
            <p>By Anthony Billingsley</p>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- intro end-->
    <!-- navbar-->
    <header class="header">
    <nav class="navbar navbar-expand-lg">
        <div class="container">
        <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler navbar-toggler-right"><i class="fa fa-bars"></i></button>
        <div id="navbarSupportedContent" class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
            <li class="nav-item"><a href="#intro" class="nav-link link-scroll">Home</a></li>
            <li class="nav-item"><a href="#about" class="nav-link link-scroll">About </a></li>
            <!-- <li class="nav-item"><a href="#services" class="nav-link link-scroll">Services</a></li> -->
            <li class="nav-item"><a href="#portfolio" class="nav-link link-scroll">Portfolio</a></li>
            <li class="nav-item"><a href="#contact" class="nav-link link-scroll">Contact</a></li>
            </ul>
        </div>
        </div>
    </nav>
    </header>
    <!-- about-->
    <section id="about" class="text">
    <div class="container">
        <div class="row">
        <div class="col-lg-6">
            <h2 class="heading">About</h2>
            <p>Iron Paws is a company that is all about making creative designs for the everyday use.</p>
            <p>From the interior of your home, to the exterior, and even for those furry family members, Iron Paws covers it all. Railings, doors, furniture and custom raised pet feeding stands are just a few of the things Iron Paws creates.</p>
            <p>If you have a vision of your own, that is even better. These creations are made to last and to be functional in any home. Let Iron Paws make a lasting impression on your home, family, and pets!</p>
        </div>
        <div class="col-lg-5 mx-auto">
            <p><img src="images/face-masks.jpg" alt="" class="img-fluid rounded-circle"></p>
        </div>
        </div>
    </div>
    </section>
    <!-- about end-->
    <!-- Services-->
    <!-- <section id="services" style="background-color: #eee">
    <div class="container">
        <div class="row services">
        <div class="col-lg-12">
            <h2 class="heading">Services</h2>
            <div class="row">
            <div class="col-md-4">
                <div class="box">
                    <img src="images/laravel-logo.png" alt="" class="img-fluid" id="laravel-logo">
                <h5>Webdev</h5>
                <p>Full-stack development - server-side, client-side, hosting, security, I can do it all</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="images/bootstrap-logo.png" alt="" class="img-fluid" id="bootstrap-logo">
                <h5>Webdesign</h5>
                <p>I love ripping off free themes and putting my own spin on them :)</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <img src="images/aws_logo.png" alt="" class="img-fluid" id="aws-logo">
                <h5>Hosting</h5>
                <p>AWS-certified, I can host just about anything using Amazon Web Service</p>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section> -->
    <!-- Services end-->
    
    <!-- Portfolio / gallery-->
    <section id="portfolio" class="gallery">
        <div class="container clearfix">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-12 col-lg-8">
                            <h2 class="heading">Portfolio</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-1.jpg" data-lightbox="portfolio" data-title="Indoor railing" class="has-border"><img src="images/portfolio/railing-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-2.jpg" data-lightbox="portfolio" data-title="Exterior railing" class="has-border"><img src="images/portfolio/railing-2.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-3.jpg" data-lightbox="portfolio" data-title="Herringbone railing" class="has-border"><img src="images/portfolio/railing-3.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-4.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-4.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-5.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-5.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-6.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-6.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-7.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-7.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-8.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-8.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-9.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-9.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-10.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-10.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-11.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-11.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-12.jpg" data-lightbox="portfolio" data-title="Railing" class="has-border"><img src="images/portfolio/railing-12.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/door-1.jpg" data-lightbox="portfolio" data-title="Modern door" class="has-border"><img src="images/portfolio/door-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/door-2.jpg" data-lightbox="portfolio" data-title="Ornate front door" class="has-border"><img src="images/portfolio/door-2.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/railing-fish-1.jpg" data-lightbox="portfolio" data-title="Railing with trout centerpiece" class="has-border"><img src="images/portfolio/railing-fish-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/lights-2.jpg" data-lightbox="portfolio" data-title="Bar lights" class="has-border"><img src="images/portfolio/lights-2.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/porch-1.jpg" data-lightbox="portfolio" data-title="Porch" class="has-border"><img src="images/portfolio/porch-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/bar-1.jpg" data-lightbox="portfolio" data-title="Bar" class="has-border"><img src="images/portfolio/bar-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/bar-2.jpg" data-lightbox="portfolio" data-title="Bar" class="has-border"><img src="images/portfolio/bar-2.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/bike-rack-1.jpg" data-lightbox="portfolio" data-title="Bike rack" class="has-border"><img src="images/portfolio/bike-rack-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/fireplace-1.jpg" data-lightbox="portfolio" data-title="Fireplace cover" class="has-border"><img src="images/portfolio/fireplace-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                        <div class="col-md-4">
                        <div class="box"><a href="images/portfolio/lights-1.jpg" data-lightbox="portfolio" data-title="Hanging lights" class="has-border"><img src="images/portfolio/lights-1.jpg" alt="image" class="img-fluid"></a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio / gallery end-->
    <!-- contact-->
    <section id="contact" style="background-color: #fff;" class="text-page pb-4"> 
    <div class="container">
        <div class="row">
        <div class="col-lg-12">
            <h2 class="heading">Contact</h2>
            <div class="row">
            <div class="col-lg-6">
                <form id="contact-form" method="post" action="#" class="contact-form">
                <div class="controls">
                    <div class="form-group">
                    <label for="email">Your email *</label>
                    <input type="email" name="from-email" id="from-email" placeholder="Enter your email" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                    <label for="subject">Subject *</label>
                    <input type="text" name="subject" id="subject" placeholder="Enter a subject" required="required" class="form-control">
                    </div>
                    <div class="form-group">
                    <label for="message">Your message for us *</label>
                    <textarea rows="4" name="message" id="message" placeholder="Enter your message" required="required" class="form-control"></textarea>
                    </div>
                    <div class="text-center">
                    <a href="" id="send-email">
                        <button type="button" name="send-email" id="send-email" class="btn btn-outline-primary btn-block">Send Message</button>
                    </a>
                    </div>
                </div>
                </form>
            </div>
            </div>
        </div>
        </div>
    </div>
    </section>
    <!-- <div id="map"></div> -->